extends layout

block body
  main
    h1 Current water level:

  form(action='runpump' method='post')
  	div
  		label(for='pump') Pump:
  		input(type='radio' name='pump' id='pump' value='chlorine' checked) Chlorine
  		input(type='radio' name='pump' id='pump' value='acid') Acid
  		input(type='radio' name='pump' id='pump' value='base') Base
  	div
  		label(for='duration') Duration:
  		input(type='number' id='duration') seconds
  	div
  		input(type='submit')