extends layout

block body
  main
    h1 Current status:
    div(id='readings' class='inaccurate-reading')
      p
        | Temp:&nbsp;
        span(id='temp-reading')
          | ?
      p
        | ORP:&nbsp;
        span(id='orp-reading')
          | ?
      p
        | pH:&nbsp;
        span(id='ph-reading')
          | ?

    div
      label(for='pump') Pump:
      input(type='radio' name='pump' value='chlorine' checked)
      | Chlorine
      input(type='radio' name='pump' value='acid')
      | Acid
      input(type='radio' name='pump' value='base')
      | Base
    div
      label(for='duration') Duration (seconds):
      input(type='number' name='duration' id='duration' value='10')
    div
      button(id='run-button') Run

  script(src='index.js')
