extends layout

block body
  main
    h1 Current status:
    p(class='reading')
      | Temp:
      span(id='temp-reading')
        | ?
    p(class='reading')
      | ORP:
      span(id='orp-reading')
        | ?
    p(class='reading')
      | pH:
      span(id='ph-reading')
        | ?

  form(action='runpump' method='post')
    div
      label(for='pump') Pump:
      input(type='radio' name='pump' id='pump' value='chlorine' checked)
      | Chlorine
      input(type='radio' name='pump' id='pump' value='acid')
      | Acid
      input(type='radio' name='pump' id='pump' value='base')
      | Base
    div
      label(for='duration') Duration (seconds):
      input(type='number' name='duration' id='duration')
    div
      input(type='submit')

  script(src='index.js')
