extends layout

block body
  main
    h1 Current status:
    p
      | Temp:&nbsp;
      span(id='temp-reading' class='reading')
        | ?
    p
      | ORP:&nbsp;
      span(id='orp-reading' class='reading')
        | ?
    p
      | pH:&nbsp;
      span(id='ph-reading' class='reading')
        | ?

  form(action='runpump' method='post')
    div
      label(for='pump') Pump:
      input(type='radio' name='pump' id='pump' value='chlorine' checked)
      | Chlorine
      input(type='radio' name='pump' id='pump' value='acid')
      | Acid
      input(type='radio' name='pump' id='pump' value='base')
      | Base
    div
      label(for='duration') Duration (seconds):
      input(type='number' name='duration' id='duration')
    div
      input(type='submit' value='Run')

  script(src='index.js')
