body {
	font-family: sans-serif;
}

.inaccurate-reading {
	color: lightgray;
	font-size: 150%;
}

.ok-reading {
	color: green;
	font-size: 150%;
}

.slightly-low-reading {
	color: yellowgreen;
	font-size: 150%;
}

.too-low-reading {
	color: gold;
	font-size: 150%;
}

.very-low-reading {
	color: red;
	font-size: 150%;
}

.slightly-high-reading {
	color: yellowgreen;
	font-size: 150%;
}

.too-high-reading {
	color: gold;
	font-size: 150%;
}

.very-high-reading {
	color: red;
	font-size: 150%;
}

.log-table {
	width: 100%;
	border-collapse: collapse;
}

.state-good {
	color: green;
}

.state-bad {
	color: red;
}